#student-table {
    max-height: 400px;
    overflow: scroll;
}

th, tr {
    width: 33%;
}

.present {
    background-color: green;
    color: white;
    font-style: italic;
}

.absent {
    color: purple;
    font-weight: bold;
}

[v-cloak] {
    display: none;
}
